@import "./../../mixins";
$background-image: url('../../assets/hero-compress.png');

.LandingContainer {


  &__content {
    height: 100vh;
    position: relative;

    > div {
      background-image: $background-image;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      max-width: 100rem;

      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

    }

    p {
      font-size: 1rem;
      margin-block: 1rem;
      justify-content: center;
      align-items: center;
      padding-inline: 1rem;
      text-align: center;
    }
  
    .custom-link {
      margin-top: 10px;
      font-size: 1.2rem;
      color: #000;
      text-decoration: none; /* Cambia a 'none' para quitar el subrayado */
    }
  
    button {
      font-size: 0.9rem;
    }

  }

  h1 {
    font-size: 1.87rem;
    font-family: var(display-font);
    font-weight: 400;
    text-align: center;
    padding: 1rem;

    > span {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 400;
      padding: 1rem;
      margin-top: 1rem;
      font-family: "Concert One";
    }
  }

  @include media-breakpoint-up($screen-sm) {

    h1 {
      font-size: 3.225rem;
      line-height: 0.7;

      > span {
        font-size: 4.475rem;
      }
    }

    &__content {
      text-align: center;
      p {
        font-size: 1.4rem;
      }
    }
  }

  @include media-breakpoint-up($screen-lg) {

    h1 {
      font-size: 5.225rem;

      > span {
        font-size: 6.475rem;
      }
    }

    button {
      padding-block: 0.6rem;
      font-size: 1.388rem;
    }

    &__content {
      max-height: 62.5rem;
      

      > div {
        text-align: center;
      }

      &-text {
        max-width: 37.5rem;
      }

      p {
        font-size: 1.4rem;
      }

      &-image {
        display: block;
      } 
    }

    
  }
}